@import "bourbon/bourbon"

$text-color: #333
$dark-color: #000
$red-color: #981818
$blue-color: #003469
$green-color: #67bc5c
$font_regular: "RobotoRegular", sans-serif
$font_bold: "RobotoBold", sans-serif
$font_clean: "CleanvertisingLight", sans-serif

a[href^=tel]
	color: #fff

body
	font-family: "RobotoRegular", sans-serif
	font-weight: normal
	font-size: 16px
	color: $text-color
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialised

h1
	color: #fff
	font-size: 50px
	line-height: 56px
	font-weight: bold
	font-family: "CleanvertisingLight", sans-serif
	margin: 0

section 
	padding: 58px 0 68px 0
	&.s_dark
		h2, h3, p
			color: #fff
			text-align: center
			font-weight: normal
	h2
		color: $blue-color
		font-size: 50px
		line-height: 56px
		font-size: 50px
		margin-bottom: 50px


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

header
	min-height: 640px
	background-image: url(../img/auto_bg.jpg)
	background-position: top center
	background-size: cover
	color: #fff
	padding-top: 32px
	padding-bottom: 40px

.logo
	height: 80px

.top_phone
	text-align: right

.top_phone .wrapper .tab
	text-transform: uppercase
	cursor: pointer
.top_phone .wrapper .active
	text-decoration: underline
.top_phone .tab_item 
	display: none
	font-size: 34px
	font-family: "RobotoBold", sans-serif
.top_phone .tab_item:first-child 
	display: block

.top_header
	margin-top: 70px
	text-shadow: 1px 1px 0px rgba(150, 150, 150, 1)
	h2
		margin: 5px 0 0
		font-family: "CleanvertisingLight", sans-serif
		font-size: 30px

.tabs_header 
	margin-top: 25px
	ul, li
		list-style-type: none
		margin: 0
		padding: 0
	li
		padding-left: 40px
		position: relative
		margin-bottom: 10px
	i
		position: absolute
		left: 5px
		top: 14px
		line-height: 0
		color: $blue_color
		font-size: 24px


.tabs_header .tabs span
	display: inline-block
	background-color: rgba(255, 255, 255, 0.25)
	padding: 15px 18px
	text-transform: uppercase
	transition: all 0.25s ease
	cursor: pointer
	float: left
	font-family: "RobotoBold", sans-serif

.tabs_header .tabs span.active
	background-color: rgba(255, 255, 255, 0.6)
	color: black

.tab_content
	padding: 15px 18px 20px
	text-transform: uppercase
	color: #000
	font-family: "RobotoBold", sans-serif
	font-size: 18px

.top_phone .tab_content
	color: #fff
	padding: 0

.tabs_header .tab_content	
	background-color: rgba(255, 255, 255, 0.6)

.button
	border: none
	cursor: pointer
	display: inline-block
	height: 46px
	line-height: 46px
	padding: 0 32px
	background-color: #000
	text-transform: uppercase
	text-align: center
	color: #fff
	border-radius: 5px
	font-size: 16px
	font-family: $font_bold
	&.btn_red
		background-color: $red_color
	&.btn_green
		background-color: $green_color
	&.btn_white
		background-color: #fff
		color: #000

.button_wrap
	text-align: right

a.button
	color: #fff
	text-decoration: none

.s_teaser
	+linear-gradient(#c6d8ee, #e8eff7)
	color: $blue_color
	font-family: $font_clean
	text-transform: uppercase
	padding: 40px 0
	text-align: center
	span
		font-size: 20px
		display: block
		line-height: 20px
	i
		font-size: 70px
		margin-right: 6px
	strong
		font-weight: normal
		font-size: 28px
		display: block
		line-height: 28px

.teaser_icon, .teaser_description
	display: inline-block


//Таким образом задается стиль для первого элемента контейнера див с_тизер
.s_teaser .row
	> div:nth-child(1)
		i
			color: $blue_color

h3
	margin: 0
	font-family: "CleanvertisingLight", sans-serif
	font-size: 50px
	color: $blue_color
	text-align: center
	font-weight: normal

.profi_icon, .profi_description
	display: inline-block
	color: $red_color

.profi_icon
	font-size: 100px
	min-width: 100px
	text-align: center
	padding-right: 5px

.profi_description span
	font-size: 30px
	font-family: $font_regular
	font-weight: bold
	display: block

.profi_description
	max-width: 620px

.profi_description p
	font-size: 16px
	font-weight: normal
	line-height: 20px
	margin: 0
	color: #000

p strong
	font-family: $font_bold
	font-weight: normal

form
	margin-top: 40px
	background-color: #f7f7f7
	padding: 25px
	border: $green_color 5px solid
	border-radius: 5px
	h2
		text-transform: uppercase
		margin: 0 0 25px
		font-family: $font_bold
		color: #000
		font-size: 22px
		text-align: center
		line-height: 22px

label
	display: block
	margin-bottom: 10px
	color: #666666
	font-size: 14px

input, select, textarea
	padding-left: 10px
	display: block
	height: 40px
	border: 1px solid #d9d9d9
	box-shadow: 0 0 20px rgba(0,0,0,.06) inset
	width: 100%
	font-size: 20px
	color: green
	&:focus
		box-shadow: $green_color 0 0 0 3px
		border-radius: 3px
		border-color: $green_color
		outline: none //убирает выделение

form .button_wrap
	text-align: center
	margin: 30px 0 10px 0

#city
	background-image: url(../img/arrow.svg)
	background-position: right center
	background-repeat: no-repeat
	-webkit-appearance: none //убирает стрелку
	-moz-appearance: none //убирает стрелку Firefox
	appearance: none

.s_reviews.s_dark
	background-color: #250f11
	padding: 0

.paralax
	padding: 25px
	background-image: url(../img/paralax.JPG)
	background-repeat: repeat-x
	background-attachment: fixed
	min-height: 400px
	background-size: cover
	h2
		margin-top: 0

.review_item
	color: #fff
	text-align: center
	p
		display: inline-block
		float: none
		font-size: 15px
		font-family: $font_regular
		margin: 25px 0 0 0
	h4
		font-family: "Times new roman", serif
		font-style: italic
		font-size: 22px
		font-weight: normal
		margin-top: 20px
		margin-bottom: 20px
	.hr
		height: 1px
		width: 80px
		background-color: #fff
		margin: 0 auto
	.image_wrap
		img
			display: inline-block
			width: 165px
			height: 165px
			border-radius: 50%
			border: #4a4a4a solid 10px

.owl-nav
	div
		width: 37px
		height: 140px
		background-image: url(../img/review_arrow.png)
		position: absolute
		top: 100px
		cursor: pointer
		&.owl-next
			right: 0
			transform: scale(-1, 1)

.owl-dots
	width: 100%
	margin-top: 30px
	text-align: center
	.owl-dot
		width: 15px
		height: 15px
		background-color: #fff
		display: inline-block
		margin: 0 3px
		border-radius: 50%
		opacity: .5
		&.active
			opacity: .8
.s_back
	background-image: url("../img/red_bg.jpg")
	background-position: top center
	text-align: center
	padding: 25px 0
	h3
		font-size: 26px
		margin-top: 0
		text-transform: uppercase
		text-align: center
		background-color: rgba(255,255,255,.13)
		padding: 10px 0
	.button
		margin-top: 15px

.head_text
	background: rgba(255,255,255,.50)
	padding: 0 10px
	color: $blue_color
	h1
		color: $blue_color
		font-weight: bold

.s_contacts
	text-align: center
	.tab_content
		padding: 0
	h2
		font-family: $font_clean
		margin: 0
		color: #000
		vertical-align: middle
		display: inline-block
		height: 45px
		line-height: 45px
		font-size: 40px
	.contacts_top
		display: inline-block
	.tabs
		text-transform: uppercase
		display: inline-block
		vertical-align: middle
		height: 45px
		line-height: 45px
		padding-left: 20px
	.tab
		float: left
		padding: 0 60px
		border: $red_color 5px solid
		line-height: 38px
		color: $red_color
		&:first-child
			border-radius: 3px 0 0 3px
		&:last-child
			border-radius: 0 3px 3px 0
		&.active
			background-color: $red_color
			color: #fff
	.tab_item
		font-size: 18px
.map
	margin-top: 20px
	min-height: 480px
	background-color: #324ff4